/*paleta de cores
#486EE
48BAE8
*/

.fundo-azul {
    background-color: #486EE8;
}

.h1 {
    /* colocar uma fonte boa nas letras */
    font-family: 'Averia Gruesa Libre', cursive;
}

div.a {
    width: 100%;

}

body {
    color: black;
}

.form-com-fundo-preto {

    background-color: #48BAE8;

}

.modal-title {
    color: rgb(0, 0, 0);

}

.modal-body {
    background-color: #2B788A;

}

.modal-footer {
    background-color: #2D6A7D;
}

.modal-header {
    background-color: #2D6A7D;
}

.btn-secondary {
    background-color: #2B6F8A;
}

.btn-secondary {
    background-color: #2D6A7D;
}

.pt-5 {
    background-color: #4FBBDB;
}

.btn-close {
    background-color: #14b8dd;
}

.text-gelo {
    background-color: #dbdbdb;
}
.fundo-rodape{

    background-color: rgb(68, 64, 64);
}

.bg-turquesa{
    background-color: #2D6A7D;
}

.sombra{
    box-shadow: 0 0 30px #333;
}

.card-body{
    width: 300px;
    height: 500px;
}
 .tamanho-card{

    width: 300px;
    height: 500px;

}




/* politica de privacidade
 */
.aviso-cookies{
    position: fixed;
    bottom: 5px;
    right: 5px;
   
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;

}

 
.texto-cookies{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}


.link-politica{
    color: yellow;
}

.botao-fechar-cookies{
    margin-left: 10px;
}



/* final politica de privacidade
 */

.accordion-button{
    height: 200px;
}

.bg-azul{
    background-color: #4FBBDB;
}
.sem-borda{
    border: none;
}



.cor-termoecondicao{ 
    color: blue;
}

.tirarhamburguer{

    display: none;
    
}


.accordion-button:not(.collapsed) {
    /* color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
    background-color: #4FBBDB;

    box-shadow:none;


}


